In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import binom
import os, sys, json
#sys.path.append('/home/jasper/working/github/')

%matplotlib inline

In [11]:
%run ../koroviev/behemoth.py

In [38]:
kwargs = {'initial_capital': 100,
          'N': 100,
          'binomial_model': binom(1, 0.4)
         }

df = projections.calculate_multiple_iterations_given_criteria(1, kwargs)

df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,100.0,110.0,121.0,108.9,119.79,107.81,118.59,130.45,117.4,105.66,...,156.12,140.51,126.46,139.11,153.02,168.32,151.49,166.64,149.98,164.98

In [3]:
def convert_results_to_dataframe(M, kwargs):
    '''
    '''
    initial_capital = kwargs['initial_capital']
    N = kwargs['N']
    binomial_model = kwargs['binomial_model']
    iteration_list = []
    for iteration in xrange(M):
        result_array = calculate_returns_after(initial_capital=initial_capital,
            N=N,
            binomial_model=binomial_model)
        iteration_list.append(result_array)

    iteration_array = np.array(iteration_list)
    df = pd.DataFrame(iteration_array) #.transpose())
    return df

In [4]:
def calculate_returns_after(initial_capital, N, binomial_model):
    '''
    '''
    capital_progress = [initial_capital]
    for game in xrange(N):
        capital = capital_progress[-1]
        stake = capital * 0.1
        success = binomial_model.rvs(1)
        if success == 0:
            result = round((stake * 2.0) + capital, 2)
            capital_progress.append(result)
        else:
            result = round((-1 * stake) + capital, 2)
            capital_progress.append(result)

    result_array = np.array(capital_progress)
    return result_array

In [5]:
def single_bet_return(stake, decimal_odds, binomial_model):
    '''
    '''
    result = binomial_model.rvs(1)
    if result == 0:
        cash_result = round(stake * decimal_odds, 2)
        return cash_result
    else:
        return round(-1 * stake)

In [6]:
def calculate_consecutive_bets(initial_capital, N, binomial_model):
    '''
    '''
    capital_progress = [initial_capital]
    for round in xrange(N):
        capital = capital_progress[-1]
        stake = capital * 0.1
        consecutive_bets = 4
        game_list = [single_bet_return(stake, 2.0, binomial_model)]
        round_return = reduce(lambda x, y: x + y, game_list)
        capital_progress.append(capital + round_return)
    result_array = np.array(capital_progress)
    
    return result_array

In [11]:
kwargs = {'initial_capital': 100,
          'N': 100,
          'binomial_model': binom(1, 0.4)
         }

df = convert_results_to_dataframe(100, kwargs)

In [37]:
model_dict = {}
for num in xrange(0, 1000):
    model_dict['model_{0}'.format(num)] = calculate_consecutive_bets(100, 100, binom(1, 0.4))
    
df = pd.DataFrame(model_dict)

In [38]:
df.head()

,model_0,model_1,model_10,model_100,model_101,model_102,model_103,model_104,model_105,model_106,...,model_990,model_991,model_992,model_993,model_994,model_995,model_996,model_997,model_998,model_999
0,100.00,100.00,100.00,100.0,100.0,100.0,100.00,100.00,100.00,100.00,...,100.0,100.00,100.0,100.0,100.00,100.0,100.00,100.0,100.00,100.00
1,90.00,120.00,90.00,120.0,120.0,90.0,90.00,120.00,120.00,120.00,...,120.0,120.00,120.0,120.0,120.00,120.0,120.00,120.0,120.00,90.00
2,81.00,144.00,108.00,108.0,144.0,81.0,108.00,144.00,108.00,144.00,...,144.0,108.00,144.0,144.0,108.00,144.0,144.00,108.0,144.00,108.00
3,97.20,172.80,129.60,97.0,172.8,73.0,129.60,172.80,129.60,172.80,...,172.8,129.60,172.8,130.0,129.60,130.0,172.80,129.6,172.80,129.60
4,116.64,207.36,155.52,116.4,155.8,66.0,155.52,207.36,155.52,207.36,...,155.8,155.52,155.8,117.0,155.52,156.0,207.36,116.6,207.36,155.52

In [30]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
count,100.0,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,...,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02
mean,100.0,107.400000,115.110000,123.282000,132.313500,141.70600,153.092700,168.392200,183.372600,203.146500,...,1.240128e+05,1.295996e+05,1.450627e+05,1.640693e+05,1.667164e+05,1.843399e+05,2.050353e+05,2.280803e+05,2.532286e+05,2.536791e+05
std,0.0,14.881349,21.568727,29.990448,37.645464,45.28381,48.469969,59.556765,70.372829,83.039036,...,2.948472e+05,2.715752e+05,3.244416e+05,3.880062e+05,3.527796e+05,4.194041e+05,5.000865e+05,5.927579e+05,7.081723e+05,6.422341e+05
min,100.0,90.000000,81.000000,72.900000,65.610000,59.05000,70.860000,63.770000,57.390000,68.870000,...,2.872630e+03,2.585370e+03,2.326830e+03,2.094150e+03,2.512980e+03,3.015580e+03,2.714020e+03,2.442620e+03,2.931140e+03,3.517370e+03
25%,100.0,90.000000,108.000000,97.200000,116.640000,104.98000,125.970000,113.380000,136.040000,122.450000,...,2.152518e+04,2.421302e+04,2.324803e+04,2.789288e+04,3.137988e+04,3.765586e+04,3.615406e+04,4.066874e+04,3.904630e+04,4.391831e+04
50%,100.0,120.000000,108.000000,129.600000,116.640000,139.97000,167.960000,151.180000,181.400000,190.475000,...,6.801922e+04,8.162286e+04,7.346185e+04,7.713985e+04,7.933912e+04,7.141217e+04,8.568655e+04,1.028235e+05,9.254485e+04,1.110491e+05
75%,100.0,120.000000,144.000000,129.600000,155.520000,186.62000,167.960000,201.550000,241.860000,290.230000,...,1.209308e+05,1.451094e+05,1.741273e+05,1.567273e+05,1.880616e+05,2.256683e+05,2.031092e+05,2.437279e+05,2.376559e+05,2.632382e+05
max,100.0,120.000000,144.000000,172.800000,207.360000,248.83000,298.600000,358.320000,429.980000,386.990000,...,2.863198e+06,2.576878e+06,3.092254e+06,3.710705e+06,3.339634e+06,4.007561e+06,4.809074e+06,5.770888e+06,6.925066e+06,6.232559e+06

In [19]:
games = [[0, 3, 3], [1, 4, 21], [1, 5, 5], [2, 0, 13], [2, 3, 13],
         [3, 0, 25], [4, 5, 8], [4, 3, 15], [5, 1, 21], [5, 4, 8]]

In [20]:
def build_games_matrix(games, num_teams):
    """
    - Build the matrix for the specified number of games, and teams.
    """

    M = np.zeros([len(games), num_teams])
    row = 0
    for game in games:
        M[row, game[0]] = 1
        M[row, game[1]] = -1
        row += 1
    return M

def build_outcomes(games):
    """
    This returns a column representing game outcomes
    """
    E = np.zeros([len(games)])
    row = 0
    for game in games:
        E[row] = game[2]
        row += 1
    return E

def solve_lin_eqs(matrix, y_column, kwargs=None):
    """
    - This calculates the solution of the system of linear equations, kwargs
    can specify methodology, it must be a dict.
    """
    solution_output = np.linalg.lstsq(matrix, y_column)

    return solution_output



games_matrix = build_games_matrix(games, 6)
y_column = build_outcomes(games)
solution_output = solve_lin_eqs(games_matrix, y_column)
p_solution = solution_output[0]
sum(map(abs, games_matrix.dot(p_solution) - y_column)) / 10

9.3300000000000018

In [18]:
p_solution

array([-65.37083333,  60.67916667,   8.02916667, -64.57083333,
        20.42916667,  40.80416667])

In [4]:

results_df = pd.read_csv('/home/jasper/working/github/koroviev/data/training_data.csv')

print results_df.info()

results_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 6 columns):
date                    760 non-null object
time                    760 non-null object
team                    760 non-null object
opponent_team           760 non-null object
goals_scored_by_team    760 non-null int64
home_flag               760 non-null int64
dtypes: int64(2), object(4)
memory usage: 35.7+ KB
None

        date   time       team opponent_team  goals_scored_by_team  home_flag
0  17/5/2016  20:00    Man Utd   Bournemouth                     3          0
1  15/5/2016  15:00    Arsenal   Aston Villa                     4          0
2  16/5/2016  15:00    Chelsea     Leicester                     1          0
3  17/5/2016  15:00    Everton       Norwich                     3          0
4  18/5/2016  15:00  Newcastle         Spurs                     5          0

In [12]:
model = behemoth(results_df)
model.train_model()

In [13]:
model.find_coefficients_df()

TypeError: 'GLM' object is not callable